---
import { getLang, useTranslations } from "@/i18n/utils";
import MainLayout from "@/layouts/MainLayout.astro";

const lang = getLang(Astro.currentLocale, Astro.url);
const t = useTranslations(lang);
---

<MainLayout className="space-y-8">
  <h2 class="title">{t("about.title")}</h2>
</MainLayout>
