---
import { getLang } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { ChevronRightIcon } from "lucide-react";

const lang = getLang(Astro.currentLocale, Astro.url);
---

<footer class="flex justify-center py-8">
  <a
    href={getRelativeLocaleUrl(lang, "/")}
    class="focus-visible:ring-ring/50 flex h-9 items-center gap-0.5 rounded-full pr-2.5 pl-1 focus:outline-none focus-visible:ring-3"
  >
    <ChevronRightIcon className="text-primary size-5 shrink-0 stroke-3" />
    <span class="text-lg font-semibold">nilsbenz.ch</span>
  </a>
</footer>
