---
import { cn } from "@/lib/utils";
import { MoonIcon, SunIcon } from "lucide-react";
import { buttonVariants } from "../ui/button";
---

<theme-toggle>
  <button
    class={cn(
      buttonVariants({ variant: "ghost", size: "icon" }),
      "group hover:bg-accent/60 relative overflow-clip",
    )}
  >
    <span class="sr-only">Dark theme</span>
    <SunIcon
      className="ease-out-expo stroke-2.25 size-5 origin-[2.25rem_50%] transition-all duration-1000 not-dark:group-hover:rotate-9 dark:rotate-90 dark:opacity-60"
    />
    <MoonIcon
      className="ease-out-expo stroke-2.25 absolute size-5 origin-[2.25rem_50%] -rotate-90 opacity-60 transition-all duration-1000 dark:rotate-0 dark:opacity-100 dark:group-hover:-rotate-9"
    />
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      function setTheme(dark: boolean) {
        document.documentElement.classList[dark ? "add" : "remove"]("dark");
      }

      button.addEventListener("click", () => setTheme(!this.isDark()));

      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>
