---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

{
  (() => {
    let charIndex = 0;
    return content.split(" ").map((word, wordIndex) => (
      <Fragment>
        {wordIndex > 0 && " "}
        <span class="inline-block whitespace-nowrap">
          {word.split("").map((char) => (
            <span
              style={{ "animation-delay": `calc(${charIndex++} * 30ms)` }}
              class="animate-reveal inline-block"
            >
              {char}
            </span>
          ))}
        </span>
      </Fragment>
    ));
  })()
}
