---
import FilmLayout from "@/layouts/FilmLayout.astro";
---

<FilmLayout
  title="Sabine und Marco"
  description="Sabine und Marco – 13. Juli 2024"
>
  <div class="space-y-12">
    <h2 class="title">Sabine und Marco</h2>
    <iframe
      src="https://www.youtube.com/embed/-ryPrVTTjik?si=R46ErOxwVu8GwKAB"
      title="Sabine und Marco"
      frameborder="0"
      allow="picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="aspect-video w-full"></iframe>
  </div>
</FilmLayout>
